on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build
        run: cargo build
      - name: start and hit no-ssl
        shell: bash
        run: |
          ./target/debug/cosock-test-server &
          SERVER_PID=$!
          sleep 1
          curl http://127.0.0.1:8080/delay/3
          kill $SERVER_PID
      - name: install certs
        run: |
          openssl req \
            -newkey rsa:2048 \
            -x509 \
            -sha256 \
            -days 10000 \
            -nodes \
            -out cert.pem \
            -keyout key.pem \
            -subj "/C=US/ST=MN/L=Minneapolis/O=cosock/CN=cosock/" \
          && sudo cp cert.pem /usr/local/share/ca-certificates \
          && sudo update-ca-certificates
      - name: run-with-tls
        run: |
          ./target/debug/cosock-test-server 8443 . &
          SERVER_PID=$!
          sleep 1
          curl -k https://127.0.0.1:8443/delay/3 --cacert ./cert.pem
          EXIT_CODE=$?
          kill $SERVER_PID
          exit $EXIT_CODE
